<html>
  <head>
   <title>i can make it</title>
   <link rel="stylesheet"href={{url_for('static',filename='style.css')}}>
  </head>
  <body>
    <div class="container">
      <div class="image">
        <img src="{{url_for('static',filename='images/flower.jpg') }} "alt=" "style="width:100px;height:100px;border-radius:150px;">
       </div>   
        <h3><b> LOGIN PAGE</b></h3>
        <div>
          <input type="text"placeholder="username"matInput><br><br>
        </div>
        <div>
          <input type="password"placeholder="password"matInput><br><br>
        </div>
        <div>
         <a href="home"><input type="submit" value="submit" name="submit"></a>
    </div>
  </body>
</html>

