s<html>
  <head>
   <title>i can make it</title>
   <link rel="stylesheet"href={{url_for('static',filename='style.css')}}>
  </head>
   <formfxlayout Align="center"fxLayout="column"fxLayoutGap="30px">
     <div fxLayout="column"fxLayoutGap="20px">
     <div>
       <h3>
       <b>
        LOGIN PAGE
       </b>
       </h3>
     </div>
  <div>
  <mat-form-field>
   <input="text"placeholder="username"matInput>
  </mat-form-field>
  </div>
  <div>
  <mat-form-field>
   <input="password"placeholder="password"matInput>
  </mat-form-field>
  </div>
  <div>
  <button mat-raised-button color="primary">login</button>
  </div>
</form>


